.activityContainer {
    display :flex;
    flex-direction: row;
    width : 100vw;
    margin : 70px 0;
}

.listSection {
    display: flex;
    width : 20vw;
    border : 2px solid green;
    flex-direction: column;

}


.messageSection{
    display: flex;
    width : 80vw;
    border : 2px solid blue;
}