.navbar {
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* padding: 20px; */
    /* border-bottom: 2px solid black; */
    height: 60px;
    width: 100vw;
}


.navList {
    color: green;
    font-size: 20px;
    /* display: inline; */
    margin-left: 20vw;
}

.navListItems {
    margin: 0 50px;
    cursor: pointer;
}

.navListItems:hover {
    color: "blue";
    background-color: black;
}


.navbar {
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgb(var(219, 219, 219));
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    position: fixed;
    top: 0;
    transition: height var(.2s) ease-in-out;
    width: 100%;
    z-index: 3;
}


.navContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}



.nav-item {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.nav-item:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.nav-item:active {
    color: #000
}

.nav-item:active:after {
    background: transparent;
}

.nav-item:hover:before {
    opacity: 1;
}

.nav-item:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}