.postSection {
    margin-top: 60px;
    position: relative;
    /* border: 0.2px solid black; */
    margin: 60px 24.3vw;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    /* border-radius: 2%; */
}

.postContainer {
    margin: 10px;
}